// -----------FONTS----------- //

$sans-serif: PoynterGothicText, sans-serif;
$serif: Big Moore, serif;

$primary-font-family: $serif;
$secondary-font-family: $sans-serif;


// -----------COLOURS----------- //

$yellow: #FFD717;
$blue: #84E1FF;
$salmon: #FFC9C9;
$cyan: #83FFF0;
$lavender: #EAC9FF;
